<header>
    <img class="logo" src="/images/appImage.png"/>
    <h1>{{ title }}</h1>
    <div class="navbar">
        <p>
            <a href="/">Home</a> |
            <a href="/departments/add">Add Department</a> |
            <a href="/departments/viewAll">View All Department</a>
        </p>
    </div>
</header>