* {
}

body {
  font: 14px Lato, Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: mediumblue;
}

.logo {
  max-height: 150px;
}

.logo, header {
  text-align: center;
}

header {
  margin-bottom: 30px;
}

.navbar-text{
  font-size: x-large;
}

.navbar-toggler{
  margin: 5px 0px 5px 0px;
}

.nav-item{
  margin: 10px;
}

.dropdown-item:hover {
  background: #d3d3d3;
}

#searchBox{
  background: white;
  border-color: black;
  color: black;
}

#dateTime{
  margin-right: 1.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}