<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <h2>View Department</h2>
    </div>
</div>

<div class="container-fluid m-2">
    {{> flash_messages }}
</div>

<div class="container-fluid">

    <div class="form-group row justify-content-center">
        <div class="col-md-3 col-5 text-right font-weight-bold">
            <label class="col-form-label" for="departmentName">Department Name:</label>
        </div>
        <div class="col-md-4 col-7">
            <label class="col-form-label" for="departmentName">{{ departmentName }}</label>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <div class="col-md-3 col-5 text-right font-weight-bold">
            <label class="col-form-label" for="departmentHead">Department Head:</label>
        </div>
        <div class="col-md-4 col-7">
            <label class="col-form-label" for="departmentHead">{{ departmentHead }}</label>
        </div>
    </div>
    <hr/>

    <div class="form-group row justify-content-center">
        <a class="col-6 col-md-2"><span onclick="setData('{{objId}}')" class="btn btn-light">Delete Department</span></a>
        <a class="col-6 col-md-2" href="/departments/edit?objId={{ objId }}"><span class="btn btn-light">Edit Department</span></a>
    </div>
</div>

<script>
    function setData(objId){
        if (confirm("Are you sure you want to delete?")) {
            window.location.href = "/departments/destroy?objId="+objId
        }
    }
</script>